

body{
    background-color: #000;

}

.text{
    color: white;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-left: 300px;
    background: black;
    position: center;
    animation: text 3s 1;
}


img{
    margin-top: 200px;
    margin-left: 430px;
}

