

body{
    background-color: #000;

}

.text{
    color: white;
    font-size: 78px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 3s 1;
}

.text1{
    color: #1abc9c;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 3s 1;
}

img{
    margin-top: 500px;
    margin-left: 600px;
}

