

body{
    background-color: rgb(2, 102, 133);

}

.text{
    color: white;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-left: 300px;
    position: center;
    animation: text 3s 1;
}

@keyframes text {
    0%{
        color: #000;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.text1{
    font-size: 25px;
    color: #1abc9c;
}

img{
    margin-top: 200px;
    margin-left: 430px;
}




