img{
    width: 750px;
    height: 750px;
    margin-top: 250px;

}
body{
    background-color: black;
}
.image1{
    width: 400px;
    height: 400px;
}

.image2{
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

.image3{
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 20px;
    

}