

.h1{
color: black;

}

.h2{
color: #40AF2F;

}

.play{
  
    text-align: center;
    color: brown;
    }
    .container{
        max-width: 50px;
    }
    body{
        background-color: blue;
    }